db.sqlite3
SistemaInformacion/__pycache__/*.pyc
Apps/Usuarios/migrations/__pycache__/*.pyc
Apps/Usuarios/migrations/*.pyc
Apps/Usuarios/__pycache__/*.pyc
Apps/TiposCilindros/migrations/__pycache__/*.pyc
Apps/TiposCilindros/migrations/*.pyc
Apps/TiposCilindros/__pycache__/*.pyc
Apps/AnalisisLaboratorio/migrations/__pycache__/*.pyc
Apps/AnalisisLaboratorio/migrations/*.pyc
Apps/AnalisisLaboratorio/__pycache__/*.pyc
