db.sqlite3
SistemaInformacion/__pycache__/
Apps/Usuarios/migrations/__pycache__/
Apps/Usuarios/migrations/
Apps/Usuarios/__pycache__/
Apps/TiposCilindros/migrations/__pycache__/
Apps/TiposCilindros/migrations/
Apps/TiposCilindros/__pycache__/
Apps/AnalisisLaboratorio/migrations/__pycache__/
Apps/AnalisisLaboratorio/migrations/
Apps/AnalisisLaboratorio/__pycache__/
