<!-- inicio Usuarios -->
<li>
    <a href="#">
      <i class="fa fa-users"></i>
      <span class="nav-label">Usuarios</span>
      <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#"> Crear </a></li>
    </ul>
    <ul class="nav nav-second-level collapse">
        <li><a href="#"> Listar </a></li>
    </ul>
</li>

<!-- Fin Usuarios -->

<!-- inicio Tipos de Cilindros -->
<li>
    <a href="#">
      <i class="fa fa-fire-extinguisher"></i>
      <span class="nav-label">Tipos Cilindros</span>
      <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#"> Crear </a></li>
    </ul>
    <ul class="nav nav-second-level collapse">
        <li><a href="#"> Listar </a></li>
    </ul>
</li>

<!-- Fin Tipos de Cilindros -->

<!-- inicio Analisis de Laboratorio -->
<li>
    <a href="#">
      <i class="fa fa-flask"></i>
      <span class="nav-label">Analisis de Laboratorio</span>
      <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#"> Crear </a></li>
    </ul>
    <ul class="nav nav-second-level collapse">
        <li><a href="#"> Listar </a></li>
    </ul>
</li>

<!-- Fin Analisis de Laboratorio -->
